<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.astrbot.bot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dianchi/JW-Bot/start-all.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/dianchi/JW-Bot</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/dianchi/JW-Bot/astrbot.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/dianchi/JW-Bot/astrbot.err.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/dianchi/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_ENV</key>
        <string>development</string>
    </dict>
</dict>
</plist>
